<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>DC40362D-EEF0-4426-A03D-381280F78813</string>
	<key>MSAppCenterNetworkRequestsAllowed</key>
	<false/>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBULDBIYHCJQUVJTVFVWV1hZ
	WltcYWZVJG51bGzSDQ4PEVpOUy5vYmplY3RzViRjbGFzc6EQgAKAFNMTFA4VFhdcdGlt
	ZXN0YW1wS2V5WWRldmljZUtleYADgAWAE9IZDhobV05TLnRpbWUjQcei3TiHqdqABNId
	Hh8gWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN03xAXIyQlJg4n
	KCkqKywtLi8wMTIzNDU2Nzg5Ojs8PTs8PEFCPDw8PEdISUo8PE1OT1lvc1ZlcnNpb25e
	dGltZVpvbmVPZmZzZXRYYXBwQnVpbGRfEBVsaXZlVXBkYXRlUGFja2FnZUhhc2haYXBw
	VmVyc2lvbl8QEXdyYXBwZXJTZGtWZXJzaW9uW2NhcnJpZXJOYW1lV3Nka05hbWVWbG9j
	YWxlXxAXbGl2ZVVwZGF0ZURlcGxveW1lbnRLZXleY2FycmllckNvdW50cnlab3NBcGlM
	ZXZlbF53cmFwcGVyU2RrTmFtZVdvZW1OYW1lWnNka1ZlcnNpb25cYXBwTmFtZXNwYWNl
	VW1vZGVsXxAVd3JhcHBlclJ1bnRpbWVWZXJzaW9uXxAWbGl2ZVVwZGF0ZVJlbGVhc2VM
	YWJlbFpzY3JlZW5TaXplVm9zTmFtZVdvc0J1aWxkgAuADoAQgACAEoAQgACAAIAGgA2A
	AIAAgACAAIAJgAeAEYAIgACAAIAPgAqADF8QD2FwcGNlbnRlci5tYWNvc1U0LjMuMFhN
	YWMxNCwxMFVBcHBsZVVtYWNPU1YyNi4zLjBWMjVEMTI1VWVuX1VTE/////////6YWTM4
	NDB4MjE2MFU4LjMuNF8QGGNvbS5sd291aXMuYWx0LXRhYi1tYWNvc9IdHl1eWk1TQUNE
	ZXZpY2WjX2AhWk1TQUNEZXZpY2VeTVNBQ1dyYXBwZXJTZGvSHR5iY18QFU1TQUNEZXZp
	Y2VIaXN0b3J5SW5mb6NkZSFfEBVNU0FDRGV2aWNlSGlzdG9yeUluZm9fEA9NU0FDSGlz
	dG9yeUluZm/SHR5naF5OU011dGFibGVBcnJheaNnaSFXTlNBcnJheQAIABEAGgAkACkA
	MgA3AEkATABRAFMAawBxAHYAgQCIAIoAjACOAJUAogCsAK4AsACyALcAvwDIAMoAzwDa
	AOMA6gDtAPYBJwExAUABSQFhAWwBgAGMAZQBmwG1AcQBzwHeAeYB8QH+AgQCHAI1AkAC
	RwJPAlECUwJVAlcCWQJbAl0CXwJhAmMCZQJnAmkCawJtAm8CcQJzAnUCdwJ5AnsCfQKP
	ApUCngKkAqoCsQK4Ar4CxwLRAtcC8gL3AwIDBgMRAyADJQM9A0EDWQNrA3ADfwODAAAA
	AAAAAgEAAAAAAAAAagAAAAAAAAAAAAAAAAAAA4s=
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx6LdOHXN5oAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx6LdOHY8KYAE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>NSStatusItem Visible Item-0</key>
	<true/>
	<key>NSUserKeyEquivalents</key>
	<dict/>
	<key>NSWindow Frame NSSpellCheckerSpellingPanel</key>
	<string>3360 234 431 290 2056 -831 3840 2130 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>2748 -432 360 150 2056 -831 3840 2130 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>3776 661 400 139 2056 -831 3840 2130 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>718 669 620 398 0 0 2056 1290 </string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-02-17T16:12:36Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>3987743678</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>crashPolicy</key>
	<string>1</string>
	<key>holdShortcut</key>
	<string>⌥</string>
	<key>menubarIconShown</key>
	<string>true</string>
	<key>nextWindowShortcut</key>
	<string>⇥</string>
	<key>nextWindowShortcut2</key>
	<string>`</string>
	<key>preferencesVersion</key>
	<string>8.3.4</string>
	<key>updatePolicy</key>
	<string>1</string>
	<key>windowMaxWidthInRow</key>
	<string>30</string>
</dict>
</plist>
